# 应用基本配置
app:
  env: dev # 环境名称
  port: 9000 # 服务监听端口号
  name: douyin # 应用名称
  url: http://127.0.0.1 # 应用域名

# 数据库参数
database:
  host: 172.16.32.4 # 域名
  port: 49596 # 端口号
  database: tik-tok # 数据库名称
  username: root # 用户名
  password: ddfpEHsK # 密码
  charset: utf8mb4 # 编码格式
  parse_time: true
  loc: Local
  max_idle_conns: 10 # 空闲连接池中连接的最大数量
  max_open_conns: 100 # 打开数据库连接的最大数量
  log_mode: info # 日志级别
  enable_file_log_writer: true # 是否启用日志文件
  log_filename: sql.log # 日志文件名称

# redis参数
redis:
  host: 127.0.0.1
  port: 6379
  db: 1
  password:

# 日志参数
log:
  level: info # 日志等级
  root_dir: ./logs # 日志根目录
  filename: app.log # 日志文件名称
  format: json # 写入格式 可选json
  show_line: true # 是否显示调用行
  max_backups: 3 # 旧文件的最大个数
  max_size: 500 # 日志文件最大大小（MB）
  max_age: 28 # 旧文件的最大保留天数
  compress: true # 是否压缩

# jwt参数
jwt:
  secret: NoduBipzAWkVQzGGIlWGXf8p0QQfWZG1YG6sbF5aLg4z8N9BrF
  jwt_ttl: 43200 #12小时
  jwt_blacklist_grace_period: 10 # 黑名单
  refresh_grace_period: 1800 # 30分钟
